<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>AllArticle</servlet-name>
		<servlet-class>oldbook.AllArticle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllArticle</servlet-name>
		<url-pattern>/allArticle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Number</servlet-name>
		<servlet-class>oldbook.Number</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Number</servlet-name>
		<url-pattern>/number</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllImg</servlet-name>
		<servlet-class>oldbook.AllImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllImg</servlet-name>
		<url-pattern>/allImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Article</servlet-name>
		<servlet-class>oldbook.Article</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Article</servlet-name>
		<url-pattern>/article</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Image</servlet-name>
		<servlet-class>oldbook.Img</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Image</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>oldbook.Member</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Member</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SendPush</servlet-name>
		<servlet-class>push.SendPush</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendPush</servlet-name>
		<url-pattern>/sendPush</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>viewImg</servlet-name>
		<servlet-class>view.viewImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewImg</servlet-name>
		<url-pattern>/viewImg</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 
 
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>